.section {
	max-width: 1290px;
	margin: 0 auto;
	padding: 0 15px;
	padding-top: 40px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.form {
	display: flex;
	flex-direction: column;
	row-gap: 24px;
	align-items: center;
}

.title {
	font-weight: 700;
	font-size: 24px;
	line-height: 30px;
}

.list__item {
	height: 64px;
}

.link {
	font-weight: 700;
	font-size: 24px;
	line-height: 30px;
	color: #8585AD;
}
.active__link {
	font-weight: 700;
	font-size: 24px;
	line-height: 30px;
	color: white;
}

.other__link {
	color: #8585AD;
	max-width: 320px;
}

.block {
	grid-column: span 2;
}

.scroll {
	overflow-y: scroll;
	max-height: 868px;
}
