.section {
	position: absolute;
	top: 288px;
	left: 50%;
	transform: translateX(-50%);
}

.form {
	display: flex;
	flex-direction: column;
	row-gap: 24px;
	align-items: center;
}

p{
	color: #8585AD
}

p span {
	color: #4C4CFF
}

.title {
	font-weight: 700;
	font-size: 24px;
	line-height: 30px;
}