.header {
  background-color: #1c1c21;
}

.wrapper {
  max-width: 1290px;
  margin: 0 auto;
  padding: 0 15px;
}

.nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
}

.list {
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  column-gap: 8px;
}

.item {
  display: flex;
  align-items: center;
}

.button {
  color: #8585ad;
}

.active__button {
  color: white;
}

.right__edge {
  justify-self: end;
}

.left__edge {
  justify-self: start;
}
